.app.dark {
    --bg-color: #06063a;
    --inverted-bg-color: #eee;
    --primary-color: #0baf0b;
    --secondary-color: #04ff04;
    --inverted-primary-color: #05237e;
    --inverted-secondary-color: #024bf3;
}
