.app_dark_theme {
    --bg-color: #06063a;
    --inverted-bg-color: #eee;
    --primary-color: #04ff04;
    --secondary-color: #0baf0b;
    --inverted-primary-color: #05237e;
    --inverted-secondary-color: #024bf3;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1a1aff;

    // card
    --card-bg: #2020a1;
}
