.app_garish_blue_theme {
    --bg-color: #0a9da7;
    --inverted-bg-color: #f4fafb;
    --primary-color: #f4fafb;
    --secondary-color: #f4fafb;
    --inverted-primary-color: #0b7279;
    --inverted-secondary-color: #000;
}
