.app.light {
  --bg-color: #eeeeee;
  --inverted-bg-color: #06063a;

  --primary-color: #05237e;
  --secondary-color: #0449e0;

  --inverted-primary-color: #0baf0b;
  --inverted-secondary-color: #04ff04;
}
